 <!DOCTYPE html>
 <html>
 <head>
 	<title>Esta es una prueba de un archivo index</title>
 </head>
 <body>
 <p>Este es un parrafo</p>
 <p>Este es otro parrafo</p>
 </body>
 <footer>Este es un pie</footer>
 </html>